name: fasberry

services:
  nats:
    image: nats:2.10
    container_name: nats-1
    restart: unless-stopped
    ports:
      - "4223:4222"
      - "8223:8222"
    command:
      - "-js"
      - "-sd=2G"
      - "--sd=/nats/jetstream"
      - "--T"
      - "-VV"
      - "--auth=${NATS_AUTH_TOKEN}"
      - "--addr=0.0.0.0"
    environment:
      - NATS_TOKEN=${NATS_AUTH_TOKEN}
    volumes:
      - ./data/nats/data:/nats
      - ./data/nats/jetstream:/nats/jetstream
    networks:
      - fasberry
      
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}      
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    volumes:
      - ./data/minio/data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped
    networks:
      - fasberry

  dragonfly:
    image: 'docker.dragonflydb.io/dragonflydb/dragonfly'
    container_name: dragonfly
    environment:
       - REDIS_USER_NAME=${REDIS_USER_NAME}
       - REDIS_USER_PASSWORD=${REDIS_USER_PASSWORD}
    ulimits:
      memlock: -1
    ports:
      - "6379:6379"
    # For better performance, consider `host` mode instead `port` to avoid docker NAT.
    # `host` mode is NOT currently supported in Swarm Mode.
    # https://docs.docker.com/compose/compose-file/compose-file-v3/#network_mode
    # network_mode: "host"
    volumes:
      - ./data/dragonfly/data:/data
      - ./scripts/dragonfly/init.sh:/usr/local/bin/init.sh
    command: ["/usr/local/bin/init.sh"]

  lobby-db:
    container_name: lobby-db
    image: mariadb:11.8
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MARIADB_DATABASE: lobby
      MARIADB_USER: ${MYSQL_USER}
      MARIADB_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - ${LOBBY_MYSQL_PORT}:3306/tcp
    volumes:
      - ./data/db/minecraft/lobby/data:/var/lib/mysql
    networks:
      - fasberry
    healthcheck:
      test: ["CMD", "mariadb", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}", "-e", "SELECT 1;"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
      
  bisquite-db:
    container_name: bisquite-db
    image: mariadb:11.8
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MARIADB_DATABASE: bisquite
      MARIADB_USER: ${MYSQL_USER}
      MARIADB_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - ${BISQUITE_MYSQL_PORT}:3306/tcp
    volumes:
      - ./data/db/minecraft/bisquite/data:/var/lib/mysql
      - ./data/db/minecraft/bisquite/custom.cnf:/etc/mysql/conf.d/custom.cnf:ro
    networks:
      - fasberry
    healthcheck:
      test: ["CMD", "mariadb", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}", "-e", "SELECT 1;"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  luckperms-db:
    container_name: luckperms-db
    image: postgres:15.1
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${LUCKPERMS_POSTGRES_USER}
      POSTGRES_PASSWORD: ${LUCKPERMS_POSTGRES_PASSWORD}
      POSTGRES_DB: ${LUCKPERMS_POSTGRES_DB}
    ports:
      - ${LUCKPERMS_POSTGRES_PORT}:5432/tcp
    volumes:
      - ./data/db/minecraft/luckperms/data:/var/lib/postgresql/data
    networks:
      - fasberry
    healthcheck:
      test: ["CMD", "true"]
      start_period: 0s
      interval: 10s
      timeout: 5s
      retries: 3
      
  general-db:
    container_name: general-db
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${GENERAL_POSTGRES_USER}
      POSTGRES_PASSWORD: ${GENERAL_POSTGRES_PASSWORD}
      POSTGRES_DB: ${GENERAL_POSTGRES_DB}
    ports:
      - ${GENERAL_POSTGRES_PORT}:5432/tcp
    volumes:
      - ./data/db/main/data:/var/lib/postgresql/18/docker
    networks:
      - fasberry
    healthcheck:
      test: ["CMD", "true"]
      start_period: 0s
      interval: 10s
      timeout: 5s
      retries: 3

  eco-db:
    container_name: eco-db
    image: mysql:9.2
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: eco
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - ${ECO_MYSQL_PORT}:3306/tcp
    volumes:
      - ./data/db/minecraft/eco/data:/var/lib/mysql

  playerpoints-db:
    container_name: playerpoints-db
    image: mariadb:11.8
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MARIADB_DATABASE: playerpoints
      MARIADB_USER: ${MYSQL_USER}
      MARIADB_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - ${PLAYERPOINTS_MYSQL_PORT}:3306/tcp
    volumes:
      - ./data/db/minecraft/playerpoints/data:/var/lib/mysql
    networks:
      - fasberry
    healthcheck:
      test: ["CMD", "mariadb", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}", "-e", "SELECT 1;"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  reputation-db:
    container_name: reputation-db
    image: mariadb:11.8
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MARIADB_DATABASE: reputation
      MARIADB_USER: ${MYSQL_USER}
      MARIADB_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - ${REPUTATION_MYSQL_PORT}:3306/tcp
    volumes:
      - ./data/db/minecraft/reputation/data:/var/lib/mysql
    networks:
      - fasberry
    healthcheck:
      test: ["CMD", "mariadb", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}", "-e", "SELECT 1;"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  skins-proxy-db:
    container_name: skins-proxy-db
    image: mariadb:11.8
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MARIADB_DATABASE: skins_proxy
      MARIADB_USER: ${MYSQL_USER}
      MARIADB_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - ${SKINS_MYSQL_PORT}:3306/tcp
    volumes:
      - ./data/db/minecraft/skins_proxy/data:/var/lib/mysql
    networks:
      - fasberry
    healthcheck:
      test: ["CMD", "mariadb", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}", "-e", "SELECT 1;"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
      
  # backend:
  #   container_name: backend
  #   build:
  #     context: .
  #     dockerfile: apps/backend/Dockerfile
  #   ports:
  #     - "4104:4104"
  #   environment: 
  #     - SQLITE_DATABASE_URL=/app/data/sqlite/sqlite.db
  #     - REDIS_HOST=redis
  #     - NATS_HOST=nats:4222
  #     - SKINS_MYSQL_HOST=skins-proxy-db
  #     - SKINS_MYSQL_PORT=3306
  #     - REPUTATION_MYSQL_HOST=reputation-db
  #     - REPUTATION_MYSQL_PORT=3306
  #     - BISQUITE_MYSQL_HOST=bisquite-db
  #     - BISQUITE_MYSQL_PORT=3306
  #     - LOBBY_MYSQL_HOST=lobby-db
  #     - LOBBY_MYSQL_PORT=3306
  #     - PLAYERPOINTS_MYSQL_HOST=playerpoints-db
  #     - PLAYERPOINTS_MYSQL_PORT=3306
  #     - LUCKPERMS_POSTGRES_HOST=luckperms-db
  #     - LUCKPERMS_POSTGRES_PORT=5432
  #     - GENERAL_POSTGRES_HOST=general-db
  #     - GENERAL_POSTGRES_PORT=5432
  #     - MINIO_ENDPOINT=minio
  #   env_file:
  #     - apps/backend/.env
  #     - apps/backend/.env.production
  #   volumes:
  #     - ./data/db/sqlite:/app/data/sqlite
  #   depends_on:
  #     - nats
  #     - redis
  #     - minio
  #   networks:
  #   - fasberry
  #   - traefik-internal

  # app:
  #   container_name: app
  #   build:
  #     context: .
  #     dockerfile: apps/app/Dockerfile
  #   ports:
  #     - "3003:3003"
  #   env_file:
  #     - apps/app/.env
  #     - apps/app/.env.production
  #   networks:
  #     - fasberry
  #     - traefik-internal

networks:
  fasberry:
    name: fasberry