@import "tailwindcss";
@import "tw-animate-css";

@import "./editor.css";

@source "../../../../packages/ui/**/*.{ts,tsx}";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

@custom-variant weather-rain (&:where([data-weather="rain"] *));

:root {
  --bprogress-color: #00AA00;
  --bprogress-spinner-size: 0px;
}

@layer base {
  @font-face {
    font-family: Minecraft;
    src: url("/fonts/minecraft.ttf") format("truetype");
    font-display: swap;
  }

  * { 
    font-family: 'Minecraft', sans-serif !important;
    font-style: normal;
    font-weight: 400;
  }

  html {
    scroll-behavior: smooth;
    height: 100%;
    word-break: keep-all;
  }

  body {
    @apply bg-background-dark text-neutral-50;

    overflow-x: hidden;
    letter-spacing: normal;
  }

  #page-content {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  body.page-is-transitioning #page-content {
    opacity: 0;
  }
}

@layer components {
  .responsive {
    @apply w-[calc(100%-8px)] sm:w-[90%];
  }
  
  .card {
    @apply border-2 rounded-sm border-[#454545];
  }

  .card-wrapper {
    @apply border-2 rounded-sm border-[#454545] lg:gap-4 p-2 lg:p-4
  }

  .tr {
    @apply flex items-center justify-start w-full py-1 px-2 hover:bg-neutral-300/20 data-[state=active]:bg-green-700 rounded-md;
  }

  footer::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 50px;
    background-image: url("_VOLUME_URL/static/minecraft/static/borders.webp");
    background-size: 960px;
    top: -50px;
    transform: scale(-1);
  }

  footer::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 50px;
    background-image: url("_VOLUME_URL/static/minecraft/static/borders.webp");
    background-size: 960px;
    top: 0px;
    z-index: -1;
  }

  .header::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 50px;
    background-image: url("_VOLUME_URL/static/minecraft/static/borders.webp");
    background-size: 960px;
    bottom: -50px;
    z-index: 700;
  }

  .borders_up {
    content: "";
    width: 100%;
    position: absolute;
    height: 50px;
    background-image: url("_VOLUME_URL/static/minecraft/static/borders.webp");
    background-size: 960px;
    z-index: 22;
    top: 0px;
  }

  .borders_down {
    content: "";
    width: 100%;
    position: absolute;
    height: 50px;
    background-image: url("_VOLUME_URL/static/minecraft/static/borders.webp");
    background-size: 960px;
    bottom: 0px;
    z-index: 22;
    transform: scale(-1);
  }

  .full-screen-section {
    @apply relative;
  }

  .full-screen-section::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 50px;
    background-image: url("_VOLUME_URL/static/minecraft/static/borders.webp");
    background-size: 960px;
    z-index: 22;
    top: 0px;
  }

  .full-screen-section::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 50px;
    background-image: url("_VOLUME_URL/static/minecraft/static/borders.webp");
    background-size: 960px;
    bottom: 0px;
    z-index: 22;
    transform: scale(-1);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}

@theme {
  --color-grass-DEFAULT: oklch(71.2% 0.60 133);
  --color-grass-jungle: oklch(72.4% 0.81 135);
  --color-grass-dark-forest: oklch(46.8% 0.44 129);
  --color-grass-swamp-green: oklch(45.4% 0.38 134);
  --color-grass-plains: oklch(71.6% 0.55 124);
  --color-grass-forest: oklch(71.2% 0.60 133);
  --color-grass-birch-forest: oklch(70.7% 0.49 131);
  --color-grass-ocean: oklch(70.6% 0.42 131);
  --color-grass-meadow: oklch(70.5% 0.47 134);
  --color-grass-tiaga: oklch(69.9% 0.34 141);
  --color-grass-snowy: oklch(69.1% 0.25 158);
  --color-grass-swamp: oklch(45.6% 0.32 111);
  --color-grass-badlands: oklch(54.2% 0.30 93);
  --color-grass-desert: oklch(73.3% 0.51 101);

  --color-foilage-DEFAULT: oklch(63.8% 0.72 132);
  --color-foilage-jungle: oklch(66.7% 0.91 134);
  --color-foilage-dark-forest: oklch(46.8% 0.44 129);
  --color-foilage-swamp-green: oklch(45.4% 0.38 134);
  --color-foilage-plains: oklch(64.4% 0.66 123);
  --color-foilage-forest: oklch(63.8% 0.72 132);
  --color-foilage-birch-forest: oklch(63.2% 0.60 130);
  --color-foilage-ocean: oklch(63.1% 0.53 130);
  --color-foilage-meadow: oklch(62.9% 0.59 133);
  --color-foilage-tiaga: oklch(62.0% 0.42 140);
  --color-foilage-snowy: oklch(61.1% 0.32 156);
  --color-foilage-swamp: oklch(45.6% 0.32 111);
  --color-foilage-badlands: oklch(55.6% 0.32 82);
  --color-foilage-desert: oklch(66.3% 0.61 99);

  --color-water-DEFAULT: oklch(68.4% 0.44 260);
  --color-water-meadow: oklch(37.9% 0.78 295);
  --color-water-river: oklch(55.8% 0.71 283);
  --color-water-mountain-gravel: oklch(41.1% 0.45 276);
  --color-water-mountain: oklch(52.8% 0.72 285);
  --color-water-beach: oklch(48.9% 0.34 252);
  --color-water-beach-snowy: oklch(40.9% 0.42 273);
  --color-water-stone-shore: oklch(43.3% 0.52 279);
  --color-water-jungle: oklch(61.7% 0.35 232);
  --color-water-jungle-hills: oklch(61.3% 0.41 252);
  --color-water-tiaga: oklch(43.7% 0.23 226);
  --color-water-tiaga-hills: oklch(40.1% 0.25 246);
  --color-water-tiaga-snowy: oklch(37.8% 0.27 256);
  --color-water-savanna: oklch(53.4% 0.27 218);
  --color-water-savanna-plateau: oklch(55.2% 0.30 225);
  --color-water-desert: oklch(61.5% 0.35 184);
  --color-water-desert-hills: oklch(47.9% 0.31 246);
  --color-water-badlands: oklch(50.0% 0.17 202);
  --color-water-badlands-plateau: oklch(51.7% 0.22 253);
  --color-water-swamp: oklch(40.5% 0.13 163);
  --color-water-swamp-hills: oklch(39.2% 0.11 161);
  --color-water-mushroom: oklch(57.6% 0.08 294);
  --color-water-mushroom-shore: oklch(54.5% 0.10 291);
  --color-water-end: oklch(39.7% 0.47 303);
  --color-water-nether: oklch(43.9% 0.25 26);

  --color-link: #aaaaff;
  --color-panel: #C6C6C6;
  --color-panel-dark: #373737;
  --color-gold: #FFAA00;
  --color-gray: #AAAAAA;
  --color-blue: #5555FF;
  --color-green: #55FF55;
  --color-aqua: #55FFFF;
  --color-red: #FB3E3E;
  --color-light-purple: #55FF55;
  --color-yellow: #55FF55;
  --color-discord-color: #7289da;
  --color-discord-server-color: #68FBAC;
  --color-blue-server-color: #C2CBFB;
  --color-green-server-color: #8FFD8F;
  --color-red-server-color: #FB3E3E;
  --color-muffin-server-color: #FFC0CB;
  --color-bisquite-server-color: #BEABF6;
  --color-project-color: #00cdb0;
  --color-project-color-pink: #fabbfb;
  --color-background-dark: #0D0D0D;
  --color-background-light: #dcdcdc;

  --color-dark-blue: #0000AA;
  --color-dark-green: #00AA00;
  --color-dark-aqua: #00AAAA;
  --color-dark-red: #AA0000;
  --color-dark-purple: #AA00AA;
  --color-dark-gray: #555555;

  --color-wool-orange: #B24CD8;
  --color-wool-magenta: #00AA00;
  --color-wool-light-blue: #6699D8;
  --color-wool-yellow: #E5E533;
  --color-wool-lime: #7FCC19;
  --color-wool-pink: #F27FA5;

  --color-grass-DEFAULT: #79C05A;
  --color-grass-jungle: #59C93C;
  --color-grass-dark-forest: #507A32;
  --color-grass-swamp-green: #4C763C;
  --color-grass-plains: #91BD59;
  --color-grass-forest: #79C05A;
  --color-grass-birch-forest: #88BB67;
  --color-grass-ocean: #8EB971;
  --color-grass-meadow: #83BB6D;
  --color-grass-tiaga: #86B783;
  --color-grass-snowy: #80B497;
  --color-grass-swamp: #6A7039;
  --color-grass-badlands: #90814D;
  --color-grass-desert: #BFB755;
}
